name: Project CI

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main

jobs:
  python-security-ci:
    uses: tokyoghoul212/ci-workflows/.github/workflows/python-security-ci.yml@main
    with:
      run_tests: true
      run_sonar: true
      run_snyk: true
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
